<style>
    .but{
            display: flex;
            gap: 10px;
            overflow: scroll;
            width: 100%;
        }
</style>

<div class="but">
    <a  href="/owner/owner_home/" class="my-1 {% if request.path == '/owner/owner_home/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">Home</a>
    <a  href="/owner/winner/" class="my-1 {% if request.path == '/owner/winner/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">Winner</a>
    <a  href="/owner/customer/" class="my-1 {% if request.path == '/owner/customer/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">Customer</a>
    <a  href="/owner/lucky_draw/" class="my-1 {% if request.path == '/owner/lucky_draw/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">Lucky Draw</a>
    <a  href="/owner/report/" class="my-1 {% if request.path == '/owner/report/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">Report</a>
    <a  href="/owner/table/" class="my-1 {% if request.path == '/owner/table/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">Table</a>
    <a  href="/owner/waiter/" class="my-1 {% if request.path == '/owner/waiter/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">Waiter</a>
    <a  href="/owner/tea_employee/" class="my-1 {% if request.path == '/owner/tea_employee/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">Tea Employee</a>
    <a  href="/owner/chef/" class="my-1 {% if request.path == '/owner/chef/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">Chef</a>
    <a  href="/owner/category/" class="my-1 {% if request.path == '/owner/category/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">Category</a>
    <a  href="/owner/item/" class="my-1 {% if request.path == '/owner/item/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">Item</a>
    <a  href="/owner/menu_qrcode/" class="my-1 {% if request.path == '/owner/menu_qrcode/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">Menu qrcode</a>
    <a  href="/owner/tea_shope/" class="my-1 {% if request.path == '/owner/tea_shope/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">Tea Shope</a>
    <a  href="/owner/profile/" class="my-1 {% if request.path == '/owner/profile/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">Profile</a>
    <a href="/logout/" class="btn btn-danger my-1">Logout</a>
</div>