<style>
    .but{
            display: flex;
            gap: 10px;
            overflow: scroll;
            width: 100%;
        }
</style>

<div class="but">
    <a  href="/owner/owner_home/" class="my-1 {% if request.path == '/owner/owner_home/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">Home</a>
    <a  href="/owner/add_bill/" class="my-1 {% if request.path == '/owner/add_bill/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">Add Bill</a>
    <a  href="/owner/winner/" class="my-1 {% if request.path == '/owner/winner/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">Winner</a>
    <a  href="/owner/customer/" class="my-1 {% if request.path == '/owner/customer/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">Customer</a>
    <a  href="/owner/lucky_draw/" class="my-1 {% if request.path == '/owner/lucky_draw/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">Lucky Draw</a>
    <a  href="/owner/profile/" class="my-1 {% if request.path == '/owner/profile/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">Profile</a>
    <a href="/logout/" class="btn btn-danger my-1">Logout</a>
</div>