<style>
    .but{
            display: flex;
            gap: 10px;
            overflow: scroll;
            width: 100%;
        }
</style>

<div class="but">
    <a  href="/tea/tea_home/" class="my-1 {% if request.path == '/tea/tea_home/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">Home</a>
    <a  href="/tea/bill/" class="my-1 {% if request.path == '/tea/bill/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">Bill</a>
    <a  href="/tea/completed_bill/" class="my-1 {% if request.path == '/tea/completed_bill/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">completed Bill</a>
    <a  href="/tea/tea_item/" class="my-1 {% if request.path == '/tea/tea_item/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">Item</a>
    <a  href="/tea/profile/" class="my-1 {% if request.path == '/tea/profile/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">Profile</a>
    <a href="/logout/" class="btn btn-danger my-1">Logout</a>
</div>