{% extends 'home/base.html' %}
{% block head %}
{% endblock head %}
{% block content %}
{% load home_tag %}
<div>welcome - {{e.name}} &nbsp; <b>Todayes Total  Rs.{% todayes_tea_total e.tea_shope_id %}
</b></div>
{% include 'include/tea_menu.html' %}
<style>
    form{
        padding: 10px;
        margin: auto;
        width: 400px;
        height: fit-content;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }
</style>
<div class="container">
    <form method="POST">{% csrf_token %}
    <div class="text-center">
        <h5><b>Profile</b></h5>
    </div>
<div class="mb-3">
    <lable>Hotel Name</lable>
    <input type="text" name="hotel_name" value="{{profile.hotel_name}}" class="form-control" required>
</div>
<div class="mb-3">
    <lable>Hotel Address</lable>
    <input type="text" name="hotel_address" value="{{profile.hotel_address}}" class="form-control" required>
</div>
<div class="mb-3">
    <lable>Mobile</lable>
    <input type="number" name="mobile" value="{{profile.contact_number}}" class="form-control" required>
</div>

<div class="mb-2"><button type="submit" class="btn btn-primary" >Save</button></div>
</form>
</div>
{% endblock content %}