{% extends 'home/base.html' %}
{% block head %}
{% endblock head %}
{% block content %}
<div>welcome - {{o.owner_name}}</div>
{% include 'include/owner_menu.html' %}

<div class="container">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Add  Item
      </button>
      
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Add Category</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form method="POST">
                {% csrf_token %}
                <div class="mb-3">
                  <label for="english_name">English Name</label>
                  <input type="text" id="english_name" name="english_name" placeholder="item english Name" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="marathi_name">Marathi Name</label>
                    <input type="text" id="marathi_name" name="marathi_name" placeholder="item Marathi Name" class="form-control" required>
                  </div>
                <div class="mb-3">
                  <label for="price">Price</label>
                  <input type="number" id="price" name="price" placeholder="item Price" class="form-control" required>
                </div>
                <div class="mb-2 mt-1">
                  <button type="submit" name="add_item" class="btn btn-primary">Add</button>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      
      
      <style>
          a{
            text-decoration: none !important;
            color: black;
          }
          .item_box{
                border: 1px solid black;
                text-align: center;
                border-radius: 10px;
                font-weight: 700;
                padding: 5px;
          }
          .item_main_box{
            display: grid !important;
            grid-template-columns: repeat(auto-fit, 300px);
            gap: 10px !important;
          }
    </style>
    <br><br>
    <div class="item_main_box">
        {% for i in item %}
        <div class="item_box">
            <div class="name">{{i.marathi_name}} <h style="font-weight: 400;">Rs.{{i.price}}</h></div>
            <div class="" style="font-weight: 400;">{{i.english_name}}</div>
            <div class="" style="display: flex;justify-content: space-evenly;">
                <div><form method="POST">{% csrf_token %} <input type="hidden" name="id" value="{{i.id}}"> {% if i.status == 1 %}<button class="btn btn-success" type="submit" name="active">Active</button>{% else %}<button class="btn btn-danger" type="submit" name="deactive">Deactive</button>{% endif %}</form></div>
                <a href="/owner/item_detail/{{i.id}}" class="btn btn-info">View</a>
                </div>
                <div style="display: flex;font-weight: 400;">
                  {% if i.discount_status == 1 %}
                  <p class="text-success">Discount Status ON</p>
                  {% else %}
                  <p class="text-danger">Discount Status OFF</p>
                  {% endif %}
                </div>
              </div>
              {% endfor %}
              </div>

</div>
{% endblock content %}