{% extends 'home/base.html' %}
{% block head %}
{% endblock head %}
{% block content %}
<div>welcome - {{o.owner_name}}</div>
{% include 'include/owner_menu.html' %}
<div  class="container border my-2">
    <h1 class="text-center bg"> चालू टेबल  </h1>
  </div>
    <div class="container border">
      
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Table Number</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <!-- {% for t in all_table %}
          <tr>
            <td><h1 class="my-3 text-center">{{t.table_number}}</h1></td>
            <td><a href="/view_order/{{t.id}}"  class="btn btn-success btn-lg my-3">View</a></td>
          </tr>
          {% endfor %} -->
        </tbody>
      </table>
    </div>
    
    <br>

    <div  class="container border">
        <h1 class="text-center bg p-3"> नवीन टेबल सुरु साठी   </h1>
      </div>
      <div class="container border">
        <div class="row text-center">
        {% for t in table %}
          <div class="card mx-auto m-4 " style="width: 18rem;">
          
            <div class="card-body ">
              <div><strong id="color{{t.id}}"></strong></div>
              <h1 class="card-title " >{{t.table_number}}<h6 class="m-2 p-1"> Table</h6> </h1>
              
              <a href="//{{t.id}}" class="btn btn-primary" >Book Order </a>
            
            </div>
          </div>
        {% endfor %}
        </div>
        </div>
      
      
        
        
    
    
    
    
    
      
    

</div>
{% endblock content %}