{% extends 'home/base.html' %}
{% block head %}
{% endblock head %}
{% block content %}

<style>
    #img_box{
        padding: 10px;
        width: fit-content;
        height: fit-content;
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    .bill_box{
        width: 3in;
        margin: 0 auto;
        border: 1px solid black;
    }
    .flex{
        display: flex;
        justify-content: space-between;
        padding: 10px;
        font-weight: 700;
    }
</style>

<style media="print">
@page{
    size: 3in 10in;
    margin: 0in;
    padding: 0in;
}
.hide{
    display: none;
}
</style>

<div class="hide">
    <div>welcome - {{o.owner_name}}</div>
    {% include 'include/owner_menu.html' %}
</div>

<div class="text-center bill_box">
    <p class="text-center" style="font-weight: 700; font-size: 30px;margin-bottom:5px;margin-top: 5px;">हॉटेल राजवाडा पार्क</p>
    <div class="" style="padding: 5px;">
        <b> मध्ये पैठणी साडी लकी ड्रॉ सहभागी झाल्या बद्धल धन्यवाद.</b>
        <b>कृपया खालील स्कॅनर स्कॅन करून {{bill.person_count}} महिलांची नोंदणी करू शकता. </b>
    </div>
    <div id="img_box">
        <div><img src="https://api.qrserver.com/v1/create-qr-code/?size=100x100&data=https://rajwada.tejorder.com/add_person/{{bill.scan_url}}" ></div>
        <div class="flex" style="flex-direction: column;">
            <div>Bill Number {{bill.name}}</div>
            <div>Rs.{{bill.amount}}</div>
            <div style="font-weight:600">{{bill.added_date}}</div>
        </div>
    </div>

    <div class="flex">
        <div>सोडत दिनांक. Nov. 28, 2024, 4:41 p.m.</div>
    </div>

    <p><b>टीप.</b> सदर स्कॅनर नोंदणी सोडत तारखेच्या आगोदर करावी  </p>
</div>

    <center>
        <button class=" hide btn btn-primary" onclick="window.print()">Print</button>
    </center>


{% endblock content %}