{% extends 'home/base.html' %}
{% block head %}
{% endblock head %}
{% block content %}
<div>welcome - {{o.owner_name}}</div>
{% include 'include/owner_menu.html' %}
<style>
.lucky_drow_box{
    width: 90%;
    border: 1px solid black;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 10px;
    text-align: center;
}
</style>
<div class="container">
{% for l in lucky_drow %}
<div class="lucky_drow_box">
    <div class="name">{{l.winner_participant.customer.name}} ,  {{l.winner_participant.customer.mobile}}</div>
    <div class="name">{{l.winner_participant.customer.address}}</div>
    <form method="POST">  {% csrf_token %}
        <input type="hidden" name="id" value="{{l.id}}">
        <div class="row g-0 text-center">
            <div class="col-sm-9"><input type="url" value="{{l.youtube_url}}" name="url" class="form-control" placeholder="Enter Youtube Url" required></div>
            <div class="col-sm-1"></div>
            <div class="col-sm-2"><button type="submit" name="add_url" class="btn btn-primary" >Submit</button> </div>
        </div>
    </form>
    <div class="date">{{l.added_date}} </div>
</div>
{% endfor %}
</div>
{% endblock content %}